<% provide(:title, "About") %>

<html>
  <body>
    <h1>About</h1>
    <p>
      We exist for one purpose. to give you the ability to feed your addiction of reading incredible books 
    </p>

    <p>Search for books and add them to your read list</p>
  </body>
</html>