<% provide(:title, "Help") %>

<html>
  <body>
    <h1>FAQs</h1>
      <div class='container'>

        <h3>
          How do I search?
        </h3>

        <p>click the Search tab, enter the book title and click on the search button.</p>

        <h3>
          How many books do you have?
        </h3>
        
        <p>Every book that Mr. Dewey H. Decimal counted.</p>

        <h3>
          How do I save books?
        </h3>
        
        <p>Click on the search tab, next to each book searched you should see a ☆ symbol, click it to add to your favorites.</p>
      
        </div>
    </body>
</html>