<% provide(:title, "Help") %>

<html>
  <body>
    <h1>FAQs</h1>
      <div class='container'>
        <h3>
          How do I search?
        </h3>
        <p>click on the search tab</p>

        <h3>
          How many books do you have?
        </h3>
        <p>A whole lot</p>

        <h3>
          How do I save books?
        </h3>
        <p>Click on the search tab, next to each book you should see a ☆ symbol.. click it!</p>
      </div>
    </body>
</html>