<% provide(:title, "Home") %>

<html>
  <body>

    <h1>
      Read List:
    </h1>
    <ol class='readList'>
      <li>House of Leaves <span>✘</span></li>
      <li>Dune <span>✘</span></li>
      <li>Season of storms <span>✘</span></li>
    </ol>
  </body>
</html>