<% provide(:title, "Home") %>

<html>
  <body>

    <h1>
      Read List:
    </h1>
    <ol class='readList'>

      <li>
        <a>House of Leaves</a> 
        <span class='buttonContainer'>
          <span class='arrowButtons'> <span>⇧</span> <span>⇩</span> </span>   
          <span class='xButton'> <span>✘</span> </span> 
        </span> 
      </li>

      <li>
        <a>Dune</a>
        <span class='buttonContainer'>
          <span class='arrowButtons'> <span>⇧</span> <span>⇩</span> </span>   
          <span class='xButton'> <span>✘</span> </span> 
        </span> 
      </li>

      <li>
        <a>Season of storms </a>
        <span class='buttonContainer'>
          <span class='arrowButtons'> <span>⇧</span> <span>⇩</span> </span>   
          <span class='xButton'> <span>✘</span> </span> 
        </span> 
      </li>
    </ol>
  </body>
</html>